body{
    font-family: arial, sans-serif;
    background: #1a1a70;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: 100vh;
    margin: 0;
}

.container {
    background: rgb(14, 57, 121);
    padding: 20px;
    border-radius: 12px;
    box-shadow: center;
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 15px;
}

input {
    padding: 8px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #47548d;
    border-radius: 8px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background: #4caf50;
    color: rgb(49, 55, 75);
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #45a049;
}

#resultado {
    margin-top: 20px;
    text-align: left;
}